<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="com.vk.id.common.activity.AutoTestActivity"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name="com.vk.id.common.mockprovider.TestAuthProviderActivity"
            android:theme="@style/Theme.AppCompat.Light" />
    </application>
</manifest>